<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Rent-A-Car - Mensajes</title>
  </head>
  <body>
    <!-- Navbar -->
    <section class="bg-gradient-to-r from-indigo-500 text-white body-font">
      <nav
        class="flex p-4 rounded-lg shadow md:items-center md:justify-between md:p-6 dark:bg-gray-800"
      >
        <ul class="flex">
          <li class="flex-1 mr-2">
            <a
              href="./category.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Categoria</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="./client.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Cliente</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="./machine.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Maquina</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="./reservation.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Reservaciones</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="./reports.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Reportes</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="../index.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Index</a
            >
          </li>
        </ul>
      </nav>
    </section>
    <!-- Main -->
    <section class="text-gray-600 body-font relative">
      <div class="frame-root shadow border-2 border-black flex">
        <div class="frame-content lg:w-1/3 md:w-1/3">
          <section class="text-gray-600 body-font">
            <div
              class="container px-8 py-4 mx-auto flex flex-wrap items-center shadow rounded"
            >
              <div
                class="lg:w80 md:w80 center bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
              >
                <div>
                  <h1
                    class="title-font font-medium text-3xl text-gray-900 justify-center flex"
                  >
                    Mensaje
                  </h1>
                  <br />
                  <p
                    class="title-font font-light text-sm text-gray-900 justify-center flex"
                  >
                    Crear un nuevo mensaje
                  </p>
                </div>
                <div class="relative mb-4">
                  <label
                    for="message-message-text-entry"
                    class="leading-7 text-sm text-gray-600"
                    >Contenido</label
                  ><input
                    type="text"
                    id="message-message-text-entry"
                    name="message-message-text-entry"
                    minlength="1"
                    maxlength="250"
                    class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  />
                </div>
                <!-- seleccion de maquina -->
                <div class="relative mb-4">
                  <label
                    name="message-machine-id-entry"
                    class="leading-7 text-sm text-gray-600"
                  >
                    Maquina:
                  </label>
                  <select
                    name="message-machine-id-entry"
                    id="message-machine-id-entry"
                  ></select>
                </div>
                <!-- seleccion de cliente -->
                <div class="relative mb-4">
                  <label
                    name="message-client-id-entry"
                    class="leading-7 text-sm text-gray-600"
                  >
                    Cliente:
                  </label>
                  <select
                    name="message-client-id-entry"
                    id="message-client-id-entry"
                  ></select>
                </div>
                <button
                  id="submit-button-create"
                  class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                  type="button"
                >
                  Crear
                </button>
              </div>
            </div>
          </section>
        </div>
        <div class="frame-content lg:w-2.5/4 md:w-2.5/4">
          <section class="text-gray-600 body-font">
            <div
              class="container px-8 py-4 mx-auto flex flex-wrap items-center shadow rounded"
            >
              <div
                class="lg:w80 md:w80 center bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
              >
                <!-- message data -->
                <section>
                  <div
                    id="message-data-section"
                    class="frame-root shadow border-2 border-black hidden"
                  >
                    <section class="text-gray-600 body-font">
                      <div
                        class="container px-8 py-4 mx-auto flex flex-wrap items-center shadow rounded"
                      >
                        <div
                          class="lg:w80 md:w80 center bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
                        >
                          <br />
                          <div
                            id="table-messages"
                            class="relative mb-4 overflow-scroll"
                          ></div>
                        </div>
                      </div>
                    </section>
                  </div>
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <!-- client/machine data-->
    <section>
      <div id="table-client">
        <div id="client-table-data"></div>
      </div>
      <div id="table-machine">
        <div id="machine-table-data"></div>
      </div>
    </section>
    <!-- Scripts -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="module" src="../js/messageFunctions.js"></script>
  </body>
</html>
