<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Rent-A-Car - Reservaciones</title>
  </head>
  <body>
    <!-- Navbar -->
    <section class="bg-gradient-to-r from-indigo-500 text-white body-font">
      <nav
        class="flex p-4 rounded-lg shadow md:items-center md:justify-between md:p-6 dark:bg-gray-800"
      >
        <ul class="flex">
          <li class="flex-1 mr-2">
            <a
              href="./category.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Categoria</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="./client.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Cliente</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="./machine.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Maquina</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="./message.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Mensajes</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="./reports.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Reportes</a
            >
          </li>
          <li class="flex-1 mr-2">
            <a
              href="../index.html"
              class="inline-block border border-white rounded hover:border-gray-200 hover:bg-gray-200 py-1 px-3"
              >Index</a
            >
          </li>
        </ul>
      </nav>
    </section>
    <!-- Title -->
    <section>
      <br />
      <h1
        class="title-font font-medium text-3xl text-gray-900 justify-center flex"
      >
        Reservaciones
      </h1>
      <br />
    </section>
    <!-- Content -->
    <section>
      <div class="frame-root shadow border-2 border-black flex items-center">
        <div class="frame-content lg:w-0.9/3 md:w-0.9/3">
          <div
            class="container px-8 py-4 mx-auto flex flex-wrap items-center shadow rounded"
          >
            <div
              class="lg:w80 md:w80 center bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0"
            >
              <div>
                <h1
                  class="title-font font-medium text-3xl text-gray-900 justify-center flex"
                >
                  Reserva
                </h1>
                <br />
                <p
                  class="title-font font-light text-sm text-gray-900 justify-center flex"
                >
                  Crear nueva reserva
                </p>
              </div>
              <section class="container flex items-center justify-center">
                <form>
                  <!-- input startDate -->
                  <div class="relative mb-4">
                    <label
                      for="reservation-startdate-entry"
                      class="leading-7 text-sm text-gray-600"
                    >
                      Fecha inicio:
                    </label>
                    <input
                      name="reservation-startdate-entry"
                      id="reservation-startdate-entry"
                      type="date"
                      value="2022-10-16"
                    />
                  </div>

                  <!-- input devolutionDate -->
                  <div class="relative mb-4">
                    <label
                      for="reservation-devolutiondate-entry"
                      class="leading-7 text-sm text-gray-600"
                    >
                      Fecha devolucion:
                    </label>
                    <input
                      name="reservation-devolutiondate-entry"
                      id="reservation-devolutiondate-entry"
                      type="date"
                      value="2022-10-20"
                    />
                  </div>

                  <!-- input for machine selection -->
                  <div class="relative mb-4">
                    <label
                      name="reservation-machine-entry"
                      class="leading-7 text-sm text-gray-600"
                    >
                      Maquina:
                    </label>
                    <select
                      name="reservation-machine-entry"
                      id="reservation-machine-entry"
                    >
                      <!-- <div id="reservation-machine-entry-options"></div> -->
                    </select>
                  </div>

                  <!-- Input for client selection -->
                  <div class="relative mb-4">
                    <label
                      name="reservation-client-entry"
                      class="leading-7 text-sm text-gray-600"
                    >
                      Cliente:
                    </label>
                    <select
                      name="reservation-client-entry"
                      id="reservation-client-entry"
                    ></select>
                    <input
                      hidden="true"
                      type="hidden"
                      value="Created"
                      id="reservation-status-entry"
                    />
                    <input
                      hidden="true"
                      type="hidden"
                      value="0"
                      id="reservation-score-entry"
                    />
                  </div>
                </form>
              </section>
              <!-- submit button. type is set to 'button' to prevent form default reload behaviour -->
              <div class="relative mb-4 flex flex-col items-center">
                <button
                  id="submit-button-create"
                  type="button"
                  class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                >
                  Crear
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-content lg:w-1.8/3 md:w-1.8/3">
          <div class="flex container justify-center items-center space-x-4">
            <div id="tablereservations"></div>
          </div>
        </div>
      </div>
      <div id="tableclient">
        <div id="clienttabledata"></div>
      </div>
      <div id="tablemachine">
        <div id="machinetabledata"></div>
      </div>
    </section>

    <!-- Scripts -->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="module" src="../js/reservationFunctions.js"></script>
  </body>
</html>
